.bracket-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
  .bracket-link .br-left{
    display: inline-block;
  }
  .bracket-link .br-right{
    display: inline-block;
  }
  
  